<div class="tableControl" ng-if="page!=null && page.totalElements!=null && page.totalElements!=0 && page.number!=null && results!=null">
    <nav class="row">
        <div class="col-xs-3" class="tableControlResults">Total results: <strong>{{page.totalElements | number:0 }}</strong></div>
        <div ng-show="page.totalPages>1" class="col-xs-9" >
            <ul class="pagination" style="margin:0px" >
                <li ng-class="{active:page.number!=0,disabled:page.number==0}"><a ng-click="refreshData(0,null)">&laquo;</a></li>
                <li ng-class="{active:page.number!=0,disabled:page.number==0}"><a ng-click="refreshData(page.number-1,null)">&lsaquo;</a></li>
                <li ng-repeat="n in [] | pageRange:page.number" ng-class="{active:page.number!=n,disabled:p.number==n}" >
                    <a ng-show="(n>page.number-3 && n<page.number+3 && n<page.totalPages)" ng-click="refreshData(n,null)">{{n+1}}</a>
                </li>
                <li ng-class="{active:page.number+1!=page.totalPages,disabled:page.number+1==page.totalPages}"><a ng-click="refreshData(page.number+1==page.totalPages?page.totalPages-1:page.number+1,null)">&rsaquo;</a></li>
                <li ng-class="{active:page.number+1!=page.totalPages,disabled:page.number+1==page.totalPages}"><a ng-click="refreshData(page.totalPages-1,null)">&raquo;</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12">
            Per Page:
            <span ng-show="page.size==25" class="pageSize pointer">25,</span>
            <a ng-show="page.size!=25" ng-click="refreshData(0,25)" class="pageSize pointer">25,</a>
            <span ng-show="page.size==50" class="pageSize pointer">50,</span>
            <a ng-show="page.size!=50" ng-click="refreshData(0,50)" class="pageSize pointer" >50,</a>
            <span ng-show="page.size==100" class="pageSize pointer">100</span>
            <a ng-show="page.size!=100" ng-click="refreshData(0,100)" class="pageSize pointer">100</a>
        </div>
    </div>
</div>