<div *ngIf="data && data.posts">
    <h2>{{data?.title}}</h2>
    <div class="post" *ngFor="#post of data?.posts">
        <div class="wrap-ut pull-left">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="images/butters.png" alt="">
                    <div class="status green">&nbsp;</div>
                </div>

                <!--<div class="icons">-->
                <!--<img src="images/icon1.jpg" alt=""><img src="images/icon4.jpg" alt="">-->
                <!--</div>-->
            </div>
            <div class="posttext pull-left">
                <h2>
                    <link-to [path]="'posts'" [label]="data?.title" [id]="post.id"></link-to>
                </h2>
                <p>{{post.body}}</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="post">
    <form class="form" method="post" ng-submit="persist({path:'posts', action:'post', data:{body:postText, thread:checkLink('threads', data.id) }}, ['posts'] )">
        <div class="topwrap">
            <div class="userinfo pull-left">
            </div>
            <div class="posttext pull-left">
                <div class="textwraper">
                    <div class="postreply">Post a Reply</div>
                    <textarea name="reply" id="reply" ng-model="postText" placeholder="Type your message here"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">

            <div class="notechbox pull-left">
                <input type="checkbox" name="note" id="note" class="form-control">
            </div>

            <div class="pull-right postreply">
                <div class="pull-left"><button type="submit" class="btn btn-primary">Post Reply</button></div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
        </div>
    </form>
</div>

